* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 500px;
  width: 500px;
  overflow: scroll;
}

.leaflet-container {
  height: 800px;
  width: 1400px;
}

.right {
  border: 1px solid black;
  height: 100vh;
  position: fixed;
  width: 400px;
  top: 0;
  right: 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

button {
  font-size: 20px;
}

.pointer {
  opacity: 0.5;
}

figure {
  border: 1px solid salmon;
}

img {
  width: 100%;
  height: auto;
}
