* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #ccc;
}

.container {
  height: 500px;
  width: 500px;
  overflow: scroll;
}

.leaflet-container {
  height: 800px;
  width: 1400px;
}

.right {
  border: 1px solid black;
  height: 100vh;
  position: fixed;
  width: 400px;
  top: 0;
  right: 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

button {
  font-size: 20px;
  background-color: #111;
  color: #eee;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #333;
  cursor: auto;
}

img {
  width: 100%;
  height: auto;
}
